In [104]:
import pandas as pd
import numpy as np

In [105]:
allocations = pd.read_csv('cares_allocations.csv')
allocations

,Allocations for Section 18004(a)(1) of the CARES Act,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,OPEID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergen...
2,108100,Arizona State University,"63,533,137.00","31,766,569.00"
3,332900,Pennsylvania State University (The),"54,994,846.00","27,497,423.00"
4,262900,"Rutgers, The State University Of New Jersey","54,160,640.00","27,080,320.00"
...,...,...,...,...
4933,4110300,University Of Management And Technology (The),"2,694.00","1,347.00"
4934,3110800,Bakke Graduate University,"2,662.00","1,331.00"
4935,188100,Ashford University,"1,001.00",501.00
4936,4124600,Professional Academy Of Cosmetology,873.00,437.00
4937,3975300,Institute Of Professional Careers,291.00,146.00

In [106]:
allocations.columns = allocations.iloc[1]

In [107]:
allocations = allocations.drop(allocations.index[[0,1]])

In [108]:
allocations

1,OPEID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($)
2,108100,Arizona State University,"63,533,137.00","31,766,569.00"
3,332900,Pennsylvania State University (The),"54,994,846.00","27,497,423.00"
4,262900,"Rutgers, The State University Of New Jersey","54,160,640.00","27,080,320.00"
5,395400,University Of Central Florida,"51,071,250.00","25,535,625.00"
6,150600,Miami Dade College,"49,074,737.00","24,537,369.00"
...,...,...,...,...
4933,4110300,University Of Management And Technology (The),"2,694.00","1,347.00"
4934,3110800,Bakke Graduate University,"2,662.00","1,331.00"
4935,188100,Ashford University,"1,001.00",501.00
4936,4124600,Professional Academy Of Cosmetology,873.00,437.00
4937,3975300,Institute Of Professional Careers,291.00,146.00

In [109]:
colleges = pd.read_csv('Colleges_and_Universities_Campuses.csv')
colleges

,OBJECTID,UNIQUEID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,TELEPHONE,TYPE,...,SOURCE,SOURCEDATE,VAL_METHOD,VAL_DATE,WEBSITE,TOT_ENROLL,TOT_EMP,SHELTERID,SHAPE_Length,SHAPE_Area
0,1,105367,OTTAWA UNIVERSITY-PHOENIX,9414 NORTH 25TH AVENUE,PHOENIX,AZ,85021,NOT AVAILABLE,(602) 371-1188,2,...,www.ottawa.edu,2018/02/28 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.ottawa.edu,809,114,NOT AVAILABLE,351.607396,7164.022516
1,2,110361,CALIFORNIA BAPTIST UNIVERSITY,8432 MAGNOLIA AVE,RIVERSIDE,CA,92504,3297,(877) 228-3615,2,...,https://calbaptist.edu/map,2018/05/10 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.calbaptist.edu,10486,1656,NOT AVAILABLE,4396.604139,912957.257839
2,3,111391,CALIFORNIA WESTERN SCHOOL OF LAW,225 CEDAR ST,SAN DIEGO,CA,92101,3046,(619) 239-0391,2,...,https://www.cwsl.edu,2018/05/11 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,https://www.cwsl.edu,802,219,NOT AVAILABLE,289.082580,4956.053489
3,4,113698,DOMINICAN UNIVERSITY OF CALIFORNIA,50 ACACIA AVE,SAN RAFAEL,CA,94901,2298,(415) 457-4440,2,...,https://www.dominican.edu/about/campus/mapsand...,2018/08/30 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.dominican.edu,1779,616,NOT AVAILABLE,3965.408434,355180.648908
4,5,192563,LIU BRENTWOOD,"MICHAEL J. GRANT CAMPUS, SUFFOLK COUNTY COMMUN...",BRENTWOOD,NY,11717,NOT AVAILABLE,(631) 287-8500,2,...,http://www.liu.edu/Brentwood/About/Visiting/Ca...,2018/12/19 00:00:00,IMAGERY/OTHER,2019/04/11 00:00:00,liu.edu/Brentwood,-999,-999,NOT AVAILABLE,3408.024454,831833.784100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6049,6050,11493801,GAVILAN COLLEGE - HOLLISTER SITE,365 FOURTH STREET,HOLLISTER,CA,95023,NOT AVAILABLE,NOT AVAILABLE,1,...,https://www.gavilan.edu/about/hollister.php,2018/12/19 00:00:00,IMAGERY/OTHER,2019/02/12 00:00:00,http://www.gavilan.edu/hollister/index.html,1361,-999,NOT AVAILABLE,265.262415,4362.342160
6050,6051,11493802,GAVILAN COLLEGE - MORGAN HILL CAMPUS,17060 MONTEREY ST.,MORGAN HILL,CA,95037,NOT AVAILABLE,NOT AVAILABLE,1,...,https://www.gavilan.edu/about/morgan_hill.php,2018/12/19 00:00:00,IMAGERY/OTHER,2019/02/12 00:00:00,http://www.gavilan.edu/maps/index.html,1323,-999,NOT AVAILABLE,910.063800,50927.799153
6051,6052,490805,PURDUE UNIVERSITY NORTHWEST,2200 169TH STREET,HAMMOND,IN,46323,NOT AVAILABLE,(219) 989-2400,1,...,https://www.pnw.edu/getting-to-pnw/visiting/dr...,2020/07/01 00:00:00,IMAGERY/OTHER,2020/07/01 00:00:00,www.pnw.edu,10473,1410,NOT AVAILABLE,745.555627,33152.476135
6052,6053,195562,ST. JOSEPH'S COLLEGE-LONG ISLAND,155 W ROE BLVD,PATCHOGUE,NY,11772,NOT AVAILABLE,(631) 687-5100,2,...,https://www.sjcny.edu/long-island/about/campus...,2020/07/01 00:00:00,IMAGERY/OTHER,2020/07/01 00:00:00,sjcny.edu,4115,761,NOT AVAILABLE,1858.602454,200879.768587
6053,6054,463056,UNIVERSITY OF CONNECTICUT-HARTFORD CAMPUS,10 PROSPECT STREET,HARTFORD,CT,6103,NOT AVAILABLE,(959) 200-3500,1,...,https://hartford.uconn.edu/wp-content/uploads/...,2020/07/02 00:00:00,IMAGERY/OTHER,2020/02/02 00:00:00,hartford.uconn.edu/,1432,-999,NOT AVAILABLE,1618.198830,81243.758621

In [110]:
colleges_renamed = colleges.copy()
colleges_renamed = colleges_renamed.rename(columns={"NAME": "School"})
colleges_renamed

,OBJECTID,UNIQUEID,School,ADDRESS,CITY,STATE,ZIP,ZIP4,TELEPHONE,TYPE,...,SOURCE,SOURCEDATE,VAL_METHOD,VAL_DATE,WEBSITE,TOT_ENROLL,TOT_EMP,SHELTERID,SHAPE_Length,SHAPE_Area
0,1,105367,OTTAWA UNIVERSITY-PHOENIX,9414 NORTH 25TH AVENUE,PHOENIX,AZ,85021,NOT AVAILABLE,(602) 371-1188,2,...,www.ottawa.edu,2018/02/28 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.ottawa.edu,809,114,NOT AVAILABLE,351.607396,7164.022516
1,2,110361,CALIFORNIA BAPTIST UNIVERSITY,8432 MAGNOLIA AVE,RIVERSIDE,CA,92504,3297,(877) 228-3615,2,...,https://calbaptist.edu/map,2018/05/10 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.calbaptist.edu,10486,1656,NOT AVAILABLE,4396.604139,912957.257839
2,3,111391,CALIFORNIA WESTERN SCHOOL OF LAW,225 CEDAR ST,SAN DIEGO,CA,92101,3046,(619) 239-0391,2,...,https://www.cwsl.edu,2018/05/11 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,https://www.cwsl.edu,802,219,NOT AVAILABLE,289.082580,4956.053489
3,4,113698,DOMINICAN UNIVERSITY OF CALIFORNIA,50 ACACIA AVE,SAN RAFAEL,CA,94901,2298,(415) 457-4440,2,...,https://www.dominican.edu/about/campus/mapsand...,2018/08/30 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.dominican.edu,1779,616,NOT AVAILABLE,3965.408434,355180.648908
4,5,192563,LIU BRENTWOOD,"MICHAEL J. GRANT CAMPUS, SUFFOLK COUNTY COMMUN...",BRENTWOOD,NY,11717,NOT AVAILABLE,(631) 287-8500,2,...,http://www.liu.edu/Brentwood/About/Visiting/Ca...,2018/12/19 00:00:00,IMAGERY/OTHER,2019/04/11 00:00:00,liu.edu/Brentwood,-999,-999,NOT AVAILABLE,3408.024454,831833.784100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6049,6050,11493801,GAVILAN COLLEGE - HOLLISTER SITE,365 FOURTH STREET,HOLLISTER,CA,95023,NOT AVAILABLE,NOT AVAILABLE,1,...,https://www.gavilan.edu/about/hollister.php,2018/12/19 00:00:00,IMAGERY/OTHER,2019/02/12 00:00:00,http://www.gavilan.edu/hollister/index.html,1361,-999,NOT AVAILABLE,265.262415,4362.342160
6050,6051,11493802,GAVILAN COLLEGE - MORGAN HILL CAMPUS,17060 MONTEREY ST.,MORGAN HILL,CA,95037,NOT AVAILABLE,NOT AVAILABLE,1,...,https://www.gavilan.edu/about/morgan_hill.php,2018/12/19 00:00:00,IMAGERY/OTHER,2019/02/12 00:00:00,http://www.gavilan.edu/maps/index.html,1323,-999,NOT AVAILABLE,910.063800,50927.799153
6051,6052,490805,PURDUE UNIVERSITY NORTHWEST,2200 169TH STREET,HAMMOND,IN,46323,NOT AVAILABLE,(219) 989-2400,1,...,https://www.pnw.edu/getting-to-pnw/visiting/dr...,2020/07/01 00:00:00,IMAGERY/OTHER,2020/07/01 00:00:00,www.pnw.edu,10473,1410,NOT AVAILABLE,745.555627,33152.476135
6052,6053,195562,ST. JOSEPH'S COLLEGE-LONG ISLAND,155 W ROE BLVD,PATCHOGUE,NY,11772,NOT AVAILABLE,(631) 687-5100,2,...,https://www.sjcny.edu/long-island/about/campus...,2020/07/01 00:00:00,IMAGERY/OTHER,2020/07/01 00:00:00,sjcny.edu,4115,761,NOT AVAILABLE,1858.602454,200879.768587
6053,6054,463056,UNIVERSITY OF CONNECTICUT-HARTFORD CAMPUS,10 PROSPECT STREET,HARTFORD,CT,6103,NOT AVAILABLE,(959) 200-3500,1,...,https://hartford.uconn.edu/wp-content/uploads/...,2020/07/02 00:00:00,IMAGERY/OTHER,2020/02/02 00:00:00,hartford.uconn.edu/,1432,-999,NOT AVAILABLE,1618.198830,81243.758621

In [111]:
colleges_renamed["School"] = colleges_renamed.School.str.title()
colleges_renamed

,OBJECTID,UNIQUEID,School,ADDRESS,CITY,STATE,ZIP,ZIP4,TELEPHONE,TYPE,...,SOURCE,SOURCEDATE,VAL_METHOD,VAL_DATE,WEBSITE,TOT_ENROLL,TOT_EMP,SHELTERID,SHAPE_Length,SHAPE_Area
0,1,105367,Ottawa University-Phoenix,9414 NORTH 25TH AVENUE,PHOENIX,AZ,85021,NOT AVAILABLE,(602) 371-1188,2,...,www.ottawa.edu,2018/02/28 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.ottawa.edu,809,114,NOT AVAILABLE,351.607396,7164.022516
1,2,110361,California Baptist University,8432 MAGNOLIA AVE,RIVERSIDE,CA,92504,3297,(877) 228-3615,2,...,https://calbaptist.edu/map,2018/05/10 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.calbaptist.edu,10486,1656,NOT AVAILABLE,4396.604139,912957.257839
2,3,111391,California Western School Of Law,225 CEDAR ST,SAN DIEGO,CA,92101,3046,(619) 239-0391,2,...,https://www.cwsl.edu,2018/05/11 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,https://www.cwsl.edu,802,219,NOT AVAILABLE,289.082580,4956.053489
3,4,113698,Dominican University Of California,50 ACACIA AVE,SAN RAFAEL,CA,94901,2298,(415) 457-4440,2,...,https://www.dominican.edu/about/campus/mapsand...,2018/08/30 00:00:00,IMAGERY/OTHER,2019/01/24 00:00:00,www.dominican.edu,1779,616,NOT AVAILABLE,3965.408434,355180.648908
4,5,192563,Liu Brentwood,"MICHAEL J. GRANT CAMPUS, SUFFOLK COUNTY COMMUN...",BRENTWOOD,NY,11717,NOT AVAILABLE,(631) 287-8500,2,...,http://www.liu.edu/Brentwood/About/Visiting/Ca...,2018/12/19 00:00:00,IMAGERY/OTHER,2019/04/11 00:00:00,liu.edu/Brentwood,-999,-999,NOT AVAILABLE,3408.024454,831833.784100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6049,6050,11493801,Gavilan College - Hollister Site,365 FOURTH STREET,HOLLISTER,CA,95023,NOT AVAILABLE,NOT AVAILABLE,1,...,https://www.gavilan.edu/about/hollister.php,2018/12/19 00:00:00,IMAGERY/OTHER,2019/02/12 00:00:00,http://www.gavilan.edu/hollister/index.html,1361,-999,NOT AVAILABLE,265.262415,4362.342160
6050,6051,11493802,Gavilan College - Morgan Hill Campus,17060 MONTEREY ST.,MORGAN HILL,CA,95037,NOT AVAILABLE,NOT AVAILABLE,1,...,https://www.gavilan.edu/about/morgan_hill.php,2018/12/19 00:00:00,IMAGERY/OTHER,2019/02/12 00:00:00,http://www.gavilan.edu/maps/index.html,1323,-999,NOT AVAILABLE,910.063800,50927.799153
6051,6052,490805,Purdue University Northwest,2200 169TH STREET,HAMMOND,IN,46323,NOT AVAILABLE,(219) 989-2400,1,...,https://www.pnw.edu/getting-to-pnw/visiting/dr...,2020/07/01 00:00:00,IMAGERY/OTHER,2020/07/01 00:00:00,www.pnw.edu,10473,1410,NOT AVAILABLE,745.555627,33152.476135
6052,6053,195562,St. Joseph'S College-Long Island,155 W ROE BLVD,PATCHOGUE,NY,11772,NOT AVAILABLE,(631) 687-5100,2,...,https://www.sjcny.edu/long-island/about/campus...,2020/07/01 00:00:00,IMAGERY/OTHER,2020/07/01 00:00:00,sjcny.edu,4115,761,NOT AVAILABLE,1858.602454,200879.768587
6053,6054,463056,University Of Connecticut-Hartford Campus,10 PROSPECT STREET,HARTFORD,CT,6103,NOT AVAILABLE,(959) 200-3500,1,...,https://hartford.uconn.edu/wp-content/uploads/...,2020/07/02 00:00:00,IMAGERY/OTHER,2020/02/02 00:00:00,hartford.uconn.edu/,1432,-999,NOT AVAILABLE,1618.198830,81243.758621

In [112]:
allocations.shape

(4936, 4)

In [113]:
colleges_renamed.shape

(6054, 27)

In [114]:
allocations_merged = allocations.merge(colleges_renamed, how = 'inner', on = 'School')
allocations_merged

,OPEID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($),OBJECTID,UNIQUEID,ADDRESS,CITY,STATE,ZIP,...,SOURCE,SOURCEDATE,VAL_METHOD,VAL_DATE,WEBSITE,TOT_ENROLL,TOT_EMP,SHELTERID,SHAPE_Length,SHAPE_Area
0,395400,University Of Central Florida,"51,071,250.00","25,535,625.00",3429,132903,4000 CENTRAL FLORIDA BLVD,ORLANDO,FL,32816,...,https://cdn.ucf.edu/map/printable/UCF-Campus-M...,2018/10/15 00:00:00,IMAGERY/OTHER,2018/10/15 00:00:00,www.ucf.edu/,68475,6302,10782895,11075.336106,6.582230e+06
1,150600,Miami Dade College,"49,074,737.00","24,537,369.00",1369,135717,300 NE 2ND AVENUE,MIAMI,FL,33132,...,http://www.mdc.edu/wolfson/campus-information/...,2018/03/06 00:00:00,IMAGERY/OTHER,2018/03/06 00:00:00,www.mdc.edu/main/,54973,9112,NOT AVAILABLE,2332.139898,1.422663e+05
2,157400,Georgia State University,"45,243,852.00","22,621,926.00",1432,139940,33 GILMER ST,ATLANTA,GA,30303,...,http://map.gsu.edu,2017/11/29 00:00:00,IMAGERY/OTHER,2017/11/29 00:00:00,www.gsu.edu,34316,5762,NOT AVAILABLE,8575.850782,3.131101e+05
3,963500,Florida International University,"38,301,957.00","19,150,979.00",3282,133951,11200 S. W. 8 STREET,MIAMI,FL,33199,...,http://facilities.fiu.edu/Documents/mmc_map.pdf,2018/10/05 00:00:00,IMAGERY/OTHER,2018/10/05 00:00:00,www.fiu.edu,57942,6321,NOT AVAILABLE,6890.275321,3.104390e+06
4,365200,University Of Houston,"36,703,283.00","18,351,642.00",2714,225511,212 E. CULLEN BUILDING,HOUSTON,TX,77204,...,https://www.uh.edu/maps/,2018/02/19 00:00:00,IMAGERY/OTHER,2018/02/19 00:00:00,www.uh.edu/,46324,5560,NOT AVAILABLE,12236.152840,2.442057e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2497,4237400,Wright Graduate University For The Realization...,"5,238.00","2,619.00",1047,486460,N7698 COUNTY HIGHWAY H,ELKHORN,WI,53121,...,http://www.wrightgrad.edu/about-us/?,2019/03/28 00:00:00,IMAGERY/OTHER,2019/04/01 00:00:00,www.wrightgrad.edu,23,15,NOT AVAILABLE,116.472363,8.417017e+02
2498,4125100,Montessori Casa International,"3,492.00","1,746.00",768,451033,144 RAMPART WAY,DENVER,CO,80230,...,http://preschool.mcidenver.edu/About/location....,2019/03/18 00:00:00,IMAGERY/OTHER,2019/04/22 00:00:00,www.mcidenver.edu,9,1,NOT AVAILABLE,557.951803,1.954705e+04
2499,2120600,Saybrook University,"3,469.00","1,735.00",466,123095,475 14TH ST,OAKLAND,CA,94612,...,https://www.saybrook.edu/locations/,2020/01/30 00:00:00,IMAGERY/OTHER,2020/01/30 00:00:00,www.saybrook.edu,687,194,NOT AVAILABLE,233.409930,3.119260e+03
2500,3110800,Bakke Graduate University,"2,662.00","1,331.00",617,420705,8515 GREENVILLE AVE S206,DALLAS,TX,75243,...,https://www.bgu.edu/,2019/03/06 00:00:00,IMAGERY/OTHER,2019/03/06 00:00:00,https://www.bgu.edu,81,7,NOT AVAILABLE,433.288538,9.915493e+03
2501,188100,Ashford University,"1,001.00",501.00,3352,154022,8620 SPECTRUM CENTER BOULEVARD,SAN DIEGO,CA,92123,...,https://www.ashford.edu/about/contact-us,2018/08/28 00:00:00,IMAGERY/OTHER,2018/08/28 00:00:00,www.ashford.edu,34710,2722,NOT AVAILABLE,859.436588,4.393165e+04

In [115]:
colleges_total = pd.read_csv('Colleges_and_Universities.csv')
colleges_total

,X,Y,OBJECTID,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
0,-8.765605e+06,5.318192e+06,1,189556,BRYANT & STRATTON COLLEGE-AMHERST,3650 MILLERSPORT HIGHWAY,GETZVILLE,NY,14068,NOT AVAILABLE,...,NOT AVAILABLE,6,1,141,176,317,2,-999,79,NOT AVAILABLE
1,-8.231383e+06,4.975222e+06,2,190682,CUNY SCHOOL OF LAW,2 COURT SQUARE,LONG ISLAND CITY,NY,11101,NOT AVAILABLE,...,LAW SCHOOL | CUNY LAW SCHOOL,18,1,165,418,583,2,-999,201,NOT AVAILABLE
2,-8.247285e+06,5.032103e+06,3,195058,ROCKLAND COMMUNITY COLLEGE,145 COLLEGE RD,SUFFERN,NY,10901,3699,...,NOT AVAILABLE,3,3,3317,3542,6859,2,-999,901,NOT AVAILABLE
3,-8.208890e+06,5.008471e+06,4,193122,SOUTHERN WESTCHESTER BOCES-PRACTICAL NURSING P...,450 MAMARONECK AVENUE,HARRISON,NY,10528,NOT AVAILABLE,...,NOT AVAILABLE,-2,1,54,52,106,2,-999,31,NOT AVAILABLE
4,-8.969252e+06,4.965197e+06,5,204884,OHIO VALLEY COLLEGE OF TECHNOLOGY,15258 STATE ROUTE 170,EAST LIVERPOOL,OH,43920,9585,...,NOT AVAILABLE,1,1,25,176,201,2,-999,30,NOT AVAILABLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,-1.009017e+07,4.687538e+06,6853,262031,ST CHARLES COMMUNITY COLLEGE,4601 MID RIVERS MALL DR,COTTLEVILLE,MO,63376,0975,...,SCC,3,3,3102,3167,6269,2,-999,836,NOT AVAILABLE
6853,-8.319680e+06,4.906794e+06,6854,186283,RIDER UNIVERSITY,2083 LAWRENCE ROAD,LAWRENCEVILLE,NJ,8648,3099,...,NOT AVAILABLE,14,2,986,3838,4824,1,2716,1213,NOT AVAILABLE
6854,-8.324179e+06,4.905072e+06,6855,187134,THE COLLEGE OF NEW JERSEY,2000 PENNINGTON ROAD,EWING,NJ,8628,7718,...,TCNJ,14,3,693,6993,7686,1,3994,1631,NOT AVAILABLE
6855,-9.284880e+06,5.219144e+06,6856,170806,MADONNA UNIVERSITY,36600 SCHOOLCRAFT RD,LIVONIA,MI,48150,1176,...,NOT AVAILABLE,9,2,1499,1545,3044,1,400,612,NOT AVAILABLE
6856,-8.589346e+06,4.735792e+06,6857,163426,MONTGOMERY COLLEGE,51 MANNAKEE STREET,ROCKVILLE,MD,20850,NOT AVAILABLE,...,MONTGOMERY COLLEGE - ROCKVILLE |MONTGOMERY COL...,5,5,14149,7571,21720,2,-999,2991,NOT AVAILABLE

In [116]:
colleges_total["NAME"] = colleges_total.NAME.str.title()
colleges_total_renamed = colleges_total.rename(columns={"NAME": "School"})
colleges_total_renamed

,X,Y,OBJECTID,IPEDSID,School,ADDRESS,CITY,STATE,ZIP,ZIP4,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
0,-8.765605e+06,5.318192e+06,1,189556,Bryant & Stratton College-Amherst,3650 MILLERSPORT HIGHWAY,GETZVILLE,NY,14068,NOT AVAILABLE,...,NOT AVAILABLE,6,1,141,176,317,2,-999,79,NOT AVAILABLE
1,-8.231383e+06,4.975222e+06,2,190682,Cuny School Of Law,2 COURT SQUARE,LONG ISLAND CITY,NY,11101,NOT AVAILABLE,...,LAW SCHOOL | CUNY LAW SCHOOL,18,1,165,418,583,2,-999,201,NOT AVAILABLE
2,-8.247285e+06,5.032103e+06,3,195058,Rockland Community College,145 COLLEGE RD,SUFFERN,NY,10901,3699,...,NOT AVAILABLE,3,3,3317,3542,6859,2,-999,901,NOT AVAILABLE
3,-8.208890e+06,5.008471e+06,4,193122,Southern Westchester Boces-Practical Nursing P...,450 MAMARONECK AVENUE,HARRISON,NY,10528,NOT AVAILABLE,...,NOT AVAILABLE,-2,1,54,52,106,2,-999,31,NOT AVAILABLE
4,-8.969252e+06,4.965197e+06,5,204884,Ohio Valley College Of Technology,15258 STATE ROUTE 170,EAST LIVERPOOL,OH,43920,9585,...,NOT AVAILABLE,1,1,25,176,201,2,-999,30,NOT AVAILABLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,-1.009017e+07,4.687538e+06,6853,262031,St Charles Community College,4601 MID RIVERS MALL DR,COTTLEVILLE,MO,63376,0975,...,SCC,3,3,3102,3167,6269,2,-999,836,NOT AVAILABLE
6853,-8.319680e+06,4.906794e+06,6854,186283,Rider University,2083 LAWRENCE ROAD,LAWRENCEVILLE,NJ,8648,3099,...,NOT AVAILABLE,14,2,986,3838,4824,1,2716,1213,NOT AVAILABLE
6854,-8.324179e+06,4.905072e+06,6855,187134,The College Of New Jersey,2000 PENNINGTON ROAD,EWING,NJ,8628,7718,...,TCNJ,14,3,693,6993,7686,1,3994,1631,NOT AVAILABLE
6855,-9.284880e+06,5.219144e+06,6856,170806,Madonna University,36600 SCHOOLCRAFT RD,LIVONIA,MI,48150,1176,...,NOT AVAILABLE,9,2,1499,1545,3044,1,400,612,NOT AVAILABLE
6856,-8.589346e+06,4.735792e+06,6857,163426,Montgomery College,51 MANNAKEE STREET,ROCKVILLE,MD,20850,NOT AVAILABLE,...,MONTGOMERY COLLEGE - ROCKVILLE |MONTGOMERY COL...,5,5,14149,7571,21720,2,-999,2991,NOT AVAILABLE

In [117]:
allocations_merged_coltotal = allocations.merge(colleges_total_renamed, how = 'inner', on = 'OPEID')
allocations_merged_coltotal

KeyError: 'OPEID'

In [ ]:
allocations_coltotal_left = pd.merge(allocations, colleges_total_renamed, how='left', on='School')
allocations_coltotal_left

In [ ]:
allocations_coltotal_left.isna().sum()

In [ ]:
allocations_col_left = pd.merge(allocations, colleges_renamed, how='left', on='School')
allocations_col_left

In [ ]:
allocations_col_left.isna().sum()

In [ ]:
public_colleges = pd.read_csv('colnav_public.csv')
public_colleges

from collegenavigator: https://nces.ed.gov/collegenavigator/?s=AL+AK+AZ+AR+CA+CO+CT+DE+DC+FL+GA+HI+ID+IL+IN+IA+KS+KY+LA+ME+MD+MA+MI+MN+MS+MO+MT+NE+NV+NH+NJ+NM+NY+NC+ND+OH+OK+OR+PA+RI+SC+SD+TN+TX+UT+VT+VA+WA+WV+WI+WY+AS+FM+GU+MH+MP+PW+PR+VI

In [120]:
allocations

1,OPEID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($)
2,108100,Arizona State University,"63,533,137.00","31,766,569.00"
3,332900,Pennsylvania State University (The),"54,994,846.00","27,497,423.00"
4,262900,"Rutgers, The State University Of New Jersey","54,160,640.00","27,080,320.00"
5,395400,University Of Central Florida,"51,071,250.00","25,535,625.00"
6,150600,Miami Dade College,"49,074,737.00","24,537,369.00"
...,...,...,...,...
4933,4110300,University Of Management And Technology (The),"2,694.00","1,347.00"
4934,3110800,Bakke Graduate University,"2,662.00","1,331.00"
4935,188100,Ashford University,"1,001.00",501.00
4936,4124600,Professional Academy Of Cosmetology,873.00,437.00
4937,3975300,Institute Of Professional Careers,291.00,146.00

In [121]:
ca_pub_col = pd.read_csv('CA-public-colleges.csv')
ca_pub_col

,Name,Address,Website,Type,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year *,Net Price **,Largest Program,IPEDS ID,OPE ID
0,ABC Adult School,"12254 Cuesta Drive, Cerritos, California 90703...",https://www.abcadultschool.edu,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,77.0,77.0,83%,NaN,2016-17,"$6,500",Accounting Technology/Technician and Bookkeeping,491464.0,4227000.0
1,ABC Adult School - Cabrillo Lane,"20122 Cabrillo Lane, Cerritos, California 9070...",NaN,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,NaN,NaN,NaN,NaN,2016-17,NaN,Medical Insurance Specialist/Medical Biller,49146401.0,4227001.0
2,Allan Hancock College,"800 South College Drive, Santa Maria, Californ...",www.hancockcollege.edu/,"2-year, Public",Less than one year certificate|One but less th...,City: Midsize,No,11894.0,11894.0,35%,6%,Fall 2016,"$6,225",-,108807.0,111100.0
3,American River College,"4700 College Oak Dr, Sacramento, California 95...",https://www.arc.losrios.edu/,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,31265.0,31265.0,25%,12%,Fall 2016,"$7,089",-,109208.0,123200.0
4,Antelope Valley College,"3041 West Ave K, Lancaster, California 93536-...",www.avc.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13909.0,13909.0,27%,7%,Fall 2013,"$6,234",-,109350.0,111300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,Woodland Community College,"2300 E Gibson Rd, Woodland, California 95776",https://wcc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Small,No,3774.0,3774.0,24%,9%,Fall 2016,"$6,452",-,455512.0,4143800.0
174,Yuba College,"2088 N Beale Rd, Marysville, California 95901",https://yc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Midsize,No,5626.0,5626.0,27%,10%,Fall 2016,"$5,825",-,126119.0,134400.0
175,NaN,* Cohort Year represents the year for which st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,** Net Price is Average Net Price for 2018-201...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,"NA (Not applicable) - Graduation rate, transfe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
# do left or right join because we want to prioritize the allocations dataset and get 
# the locations of every university/campus on the ALLOCATIONS dataset

This dataset is **California public universities & colleges** from these [search results]("https://nces.ed.gov/collegenavigator/?s=CA&ct=1&pg=1") from College Navigator

In [123]:
ca_pub_col.drop(ca_pub_col.tail(3).index, inplace = True) 
ca_pub_col

,Name,Address,Website,Type,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year *,Net Price **,Largest Program,IPEDS ID,OPE ID
0,ABC Adult School,"12254 Cuesta Drive, Cerritos, California 90703...",https://www.abcadultschool.edu,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,77.0,77.0,83%,NaN,2016-17,"$6,500",Accounting Technology/Technician and Bookkeeping,491464.0,4227000.0
1,ABC Adult School - Cabrillo Lane,"20122 Cabrillo Lane, Cerritos, California 9070...",NaN,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,NaN,NaN,NaN,NaN,2016-17,NaN,Medical Insurance Specialist/Medical Biller,49146401.0,4227001.0
2,Allan Hancock College,"800 South College Drive, Santa Maria, Californ...",www.hancockcollege.edu/,"2-year, Public",Less than one year certificate|One but less th...,City: Midsize,No,11894.0,11894.0,35%,6%,Fall 2016,"$6,225",-,108807.0,111100.0
3,American River College,"4700 College Oak Dr, Sacramento, California 95...",https://www.arc.losrios.edu/,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,31265.0,31265.0,25%,12%,Fall 2016,"$7,089",-,109208.0,123200.0
4,Antelope Valley College,"3041 West Ave K, Lancaster, California 93536-...",www.avc.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13909.0,13909.0,27%,7%,Fall 2013,"$6,234",-,109350.0,111300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,West Hills College-Lemoore,"555 College Avenue, Lemoore, California 93245",https://www.westhillscollege.com/lemoore/,"2-year, Public",Less than one year certificate|One but less th...,Rural: Fringe,No,4359.0,4359.0,38%,3%,Fall 2016,"$10,030",-,448594.0,4111300.0
171,West Los Angeles College,"9000 Overland Avenue, Culver City, California ...",www.wlac.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13048.0,13048.0,17%,13%,Fall 2013,"$9,408",-,125471.0,859600.0
172,West Valley College,"14000 Fruitvale Ave, Saratoga, California 9507...",www.westvalley.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,7619.0,7619.0,35%,13%,Fall 2016,"$7,541",-,125499.0,133800.0
173,Woodland Community College,"2300 E Gibson Rd, Woodland, California 95776",https://wcc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Small,No,3774.0,3774.0,24%,9%,Fall 2016,"$6,452",-,455512.0,4143800.0
174,Yuba College,"2088 N Beale Rd, Marysville, California 95901",https://yc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Midsize,No,5626.0,5626.0,27%,10%,Fall 2016,"$5,825",-,126119.0,134400.0

In [80]:
allocations

1,OPEID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($)
2,108100,Arizona State University,"63,533,137.00","31,766,569.00"
3,332900,Pennsylvania State University (The),"54,994,846.00","27,497,423.00"
4,262900,"Rutgers, The State University Of New Jersey","54,160,640.00","27,080,320.00"
5,395400,University Of Central Florida,"51,071,250.00","25,535,625.00"
6,150600,Miami Dade College,"49,074,737.00","24,537,369.00"
...,...,...,...,...
4933,4110300,University Of Management And Technology (The),"2,694.00","1,347.00"
4934,3110800,Bakke Graduate University,"2,662.00","1,331.00"
4935,188100,Ashford University,"1,001.00",501.00
4936,4124600,Professional Academy Of Cosmetology,873.00,437.00
4937,3975300,Institute Of Professional Careers,291.00,146.00

In [155]:
ca_pub_col['IPEDS ID'] = ca_pub_col['IPEDS ID'].map(lambda x : int(x), na_action='ignore')
ca_pub_col['OPE ID'] = ca_pub_col['OPE ID'].map(lambda x : int(x), na_action='ignore')
allocations_tofloat = allocations.copy()
allocations_tofloat["OPEID"] = allocations_tofloat['OPEID'].map(lambda x : float(x))
allocations_tofloat #god i can't believe i have to do this this is disgusting
allocations_tofloat = allocations_tofloat.rename(columns={"OPEID": "OPE ID"})
allocations_tofloat

1,OPE ID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($)
2,108100.0,Arizona State University,"63,533,137.00","31,766,569.00"
3,332900.0,Pennsylvania State University (The),"54,994,846.00","27,497,423.00"
4,262900.0,"Rutgers, The State University Of New Jersey","54,160,640.00","27,080,320.00"
5,395400.0,University Of Central Florida,"51,071,250.00","25,535,625.00"
6,150600.0,Miami Dade College,"49,074,737.00","24,537,369.00"
...,...,...,...,...
4933,4110300.0,University Of Management And Technology (The),"2,694.00","1,347.00"
4934,3110800.0,Bakke Graduate University,"2,662.00","1,331.00"
4935,188100.0,Ashford University,"1,001.00",501.00
4936,4124600.0,Professional Academy Of Cosmetology,873.00,437.00
4937,3975300.0,Institute Of Professional Careers,291.00,146.00

In [157]:
ca_pub_merged = ca_pub_col.merge(allocations_tofloat, how = 'left', on = 'OPE ID')
ca_pub_merged

,Name,Address,Website,Type,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year *,Net Price **,Largest Program,IPEDS ID,OPE ID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($)
0,ABC Adult School,"12254 Cuesta Drive, Cerritos, California 90703...",https://www.abcadultschool.edu,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,77.0,77.0,83%,NaN,2016-17,"$6,500",Accounting Technology/Technician and Bookkeeping,491464,4227000.0,Abc Adult School,"133,978.00","66,989.00"
1,ABC Adult School - Cabrillo Lane,"20122 Cabrillo Lane, Cerritos, California 9070...",NaN,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,NaN,NaN,NaN,NaN,2016-17,NaN,Medical Insurance Specialist/Medical Biller,49146401,4227001.0,NaN,NaN,NaN
2,Allan Hancock College,"800 South College Drive, Santa Maria, Californ...",www.hancockcollege.edu/,"2-year, Public",Less than one year certificate|One but less th...,City: Midsize,No,11894.0,11894.0,35%,6%,Fall 2016,"$6,225",-,108807,111100.0,Allan Hancock College,"3,853,901.00","1,926,951.00"
3,American River College,"4700 College Oak Dr, Sacramento, California 95...",https://www.arc.losrios.edu/,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,31265.0,31265.0,25%,12%,Fall 2016,"$7,089",-,109208,123200.0,American River College,"10,613,663.00","5,306,832.00"
4,Antelope Valley College,"3041 West Ave K, Lancaster, California 93536-...",www.avc.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13909.0,13909.0,27%,7%,Fall 2013,"$6,234",-,109350,111300.0,Antelope Valley College,"10,245,691.00","5,122,846.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,West Hills College-Lemoore,"555 College Avenue, Lemoore, California 93245",https://www.westhillscollege.com/lemoore/,"2-year, Public",Less than one year certificate|One but less th...,Rural: Fringe,No,4359.0,4359.0,38%,3%,Fall 2016,"$10,030",-,448594,4111300.0,West Hills College Lemoore,"2,260,143.00","1,130,072.00"
171,West Los Angeles College,"9000 Overland Avenue, Culver City, California ...",www.wlac.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13048.0,13048.0,17%,13%,Fall 2013,"$9,408",-,125471,859600.0,West Los Angeles College,"2,215,810.00","1,107,905.00"
172,West Valley College,"14000 Fruitvale Ave, Saratoga, California 9507...",www.westvalley.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,7619.0,7619.0,35%,13%,Fall 2016,"$7,541",-,125499,133800.0,West Valley College,"2,016,079.00","1,008,040.00"
173,Woodland Community College,"2300 E Gibson Rd, Woodland, California 95776",https://wcc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Small,No,3774.0,3774.0,24%,9%,Fall 2016,"$6,452",-,455512,4143800.0,Woodland Community College,"1,623,074.00","811,537.00"
174,Yuba College,"2088 N Beale Rd, Marysville, California 95901",https://yc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Midsize,No,5626.0,5626.0,27%,10%,Fall 2016,"$5,825",-,126119,134400.0,Yuba College,"3,748,918.00","1,874,459.00"

In [158]:
ca_pub_merged['OPE ID'] = ca_pub_merged['OPE ID'].map(lambda x : int(x), na_action='ignore')
ca_pub_merged

,Name,Address,Website,Type,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year *,Net Price **,Largest Program,IPEDS ID,OPE ID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($)
0,ABC Adult School,"12254 Cuesta Drive, Cerritos, California 90703...",https://www.abcadultschool.edu,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,77.0,77.0,83%,NaN,2016-17,"$6,500",Accounting Technology/Technician and Bookkeeping,491464,4227000.0,Abc Adult School,"133,978.00","66,989.00"
1,ABC Adult School - Cabrillo Lane,"20122 Cabrillo Lane, Cerritos, California 9070...",NaN,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,NaN,NaN,NaN,NaN,2016-17,NaN,Medical Insurance Specialist/Medical Biller,49146401,4227001.0,NaN,NaN,NaN
2,Allan Hancock College,"800 South College Drive, Santa Maria, Californ...",www.hancockcollege.edu/,"2-year, Public",Less than one year certificate|One but less th...,City: Midsize,No,11894.0,11894.0,35%,6%,Fall 2016,"$6,225",-,108807,111100.0,Allan Hancock College,"3,853,901.00","1,926,951.00"
3,American River College,"4700 College Oak Dr, Sacramento, California 95...",https://www.arc.losrios.edu/,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,31265.0,31265.0,25%,12%,Fall 2016,"$7,089",-,109208,123200.0,American River College,"10,613,663.00","5,306,832.00"
4,Antelope Valley College,"3041 West Ave K, Lancaster, California 93536-...",www.avc.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13909.0,13909.0,27%,7%,Fall 2013,"$6,234",-,109350,111300.0,Antelope Valley College,"10,245,691.00","5,122,846.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,West Hills College-Lemoore,"555 College Avenue, Lemoore, California 93245",https://www.westhillscollege.com/lemoore/,"2-year, Public",Less than one year certificate|One but less th...,Rural: Fringe,No,4359.0,4359.0,38%,3%,Fall 2016,"$10,030",-,448594,4111300.0,West Hills College Lemoore,"2,260,143.00","1,130,072.00"
171,West Los Angeles College,"9000 Overland Avenue, Culver City, California ...",www.wlac.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13048.0,13048.0,17%,13%,Fall 2013,"$9,408",-,125471,859600.0,West Los Angeles College,"2,215,810.00","1,107,905.00"
172,West Valley College,"14000 Fruitvale Ave, Saratoga, California 9507...",www.westvalley.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,7619.0,7619.0,35%,13%,Fall 2016,"$7,541",-,125499,133800.0,West Valley College,"2,016,079.00","1,008,040.00"
173,Woodland Community College,"2300 E Gibson Rd, Woodland, California 95776",https://wcc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Small,No,3774.0,3774.0,24%,9%,Fall 2016,"$6,452",-,455512,4143800.0,Woodland Community College,"1,623,074.00","811,537.00"
174,Yuba College,"2088 N Beale Rd, Marysville, California 95901",https://yc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Midsize,No,5626.0,5626.0,27%,10%,Fall 2016,"$5,825",-,126119,134400.0,Yuba College,"3,748,918.00","1,874,459.00"

In [159]:
# merge colnav_public + colnav_privnonprofit + colnav_privforprofit sheets

In [160]:
ca_pub_col

,Name,Address,Website,Type,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year *,Net Price **,Largest Program,IPEDS ID,OPE ID
0,ABC Adult School,"12254 Cuesta Drive, Cerritos, California 90703...",https://www.abcadultschool.edu,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,77.0,77.0,83%,NaN,2016-17,"$6,500",Accounting Technology/Technician and Bookkeeping,491464,4227000.0
1,ABC Adult School - Cabrillo Lane,"20122 Cabrillo Lane, Cerritos, California 9070...",NaN,"< 2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,NaN,NaN,NaN,NaN,2016-17,NaN,Medical Insurance Specialist/Medical Biller,49146401,4227001.0
2,Allan Hancock College,"800 South College Drive, Santa Maria, Californ...",www.hancockcollege.edu/,"2-year, Public",Less than one year certificate|One but less th...,City: Midsize,No,11894.0,11894.0,35%,6%,Fall 2016,"$6,225",-,108807,111100.0
3,American River College,"4700 College Oak Dr, Sacramento, California 95...",https://www.arc.losrios.edu/,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,31265.0,31265.0,25%,12%,Fall 2016,"$7,089",-,109208,123200.0
4,Antelope Valley College,"3041 West Ave K, Lancaster, California 93536-...",www.avc.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13909.0,13909.0,27%,7%,Fall 2013,"$6,234",-,109350,111300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,West Hills College-Lemoore,"555 College Avenue, Lemoore, California 93245",https://www.westhillscollege.com/lemoore/,"2-year, Public",Less than one year certificate|One but less th...,Rural: Fringe,No,4359.0,4359.0,38%,3%,Fall 2016,"$10,030",-,448594,4111300.0
171,West Los Angeles College,"9000 Overland Avenue, Culver City, California ...",www.wlac.edu,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,Suburb: Large,No,13048.0,13048.0,17%,13%,Fall 2013,"$9,408",-,125471,859600.0
172,West Valley College,"14000 Fruitvale Ave, Saratoga, California 9507...",www.westvalley.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Large,No,7619.0,7619.0,35%,13%,Fall 2016,"$7,541",-,125499,133800.0
173,Woodland Community College,"2300 E Gibson Rd, Woodland, California 95776",https://wcc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Small,No,3774.0,3774.0,24%,9%,Fall 2016,"$6,452",-,455512,4143800.0
174,Yuba College,"2088 N Beale Rd, Marysville, California 95901",https://yc.yccd.edu,"2-year, Public",Less than one year certificate|One but less th...,Suburb: Midsize,No,5626.0,5626.0,27%,10%,Fall 2016,"$5,825",-,126119,134400.0

In [161]:
ca_privnonprofit_col = pd.read_csv('colnav_privnonprof.csv')

In [162]:
ca_privforprofit_col = pd.read_csv('colnav_privforprof.csv')

In [164]:
ca_privnonprofit_col.drop(ca_privnonprofit_col.tail(3).index, inplace = True)
ca_privforprofit_col.drop(ca_privforprofit_col.tail(3).index, inplace = True)

In [166]:
ca_privforprofit_col

,Name,Address,Website,Type,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year *,Net Price **,Largest Program,IPEDS ID,OPE ID
0,ABCO Technology,"11222 S. La Cienega Blvd Ste 588, Inglewood, C...",www.abcotechnology.edu,"< 2-year, Private for-profit",Less than one year certificate,Suburb: Large,No,126.0,126.0,100%,NaN,2016-17,"$20,748","Computer Programming/Programmer, General",485500.0,4242600.0
1,Abraham Lincoln University,"100 West Broadway, Suite 600, Glendale, Califo...",https://www.alu.edu/,"4-year, Private for-profit",Less than one year certificate|One but less th...,City: Midsize,No,225.0,54.0,NaN,NaN,Fall 2013,"$13,773",-,488031.0,4243800.0
2,Academy for Salon Professionals,"19520 Nordhoff St. Unit 9, Northridge, Califor...",www.academyla.com,"< 2-year, Private for-profit",Less than one year certificate|One but less th...,City: Large,No,82.0,82.0,74%,NaN,2016-17,"$12,892",Aesthetician/Esthetician and Skin Care Specialist,462062.0,4189800.0
3,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",Associate's degree|Two but less than 4 years c...,City: Large,Yes,9812.0,6694.0,45%,14%,Fall 2013,"$31,759",-,108232.0,753100.0
4,Academy of Esthetics and Cosmetology,"1242 San Fernando Rd, San Fernando, California...",www.aecosmetology.com,"< 2-year, Private for-profit",Less than one year certificate|One but less th...,Suburb: Large,No,39.0,39.0,72%,NaN,2016-17,"$10,495","Cosmetology/Cosmetologist, General",454722.0,4132400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,West Coast University-Orange County,"1477 S Manchester Ave, Anaheim, California 92802",westcoastuniversity.edu/,"4-year, Private for-profit",Bachelor's degree|Master's degree|Post-master'...,City: Large,No,3976.0,2802.0,72%,NaN,Fall 2013,"$33,823",-,458210.0,3698301.0
332,Westchester College of Nursing & Allied Health,"8939 South Sepulveda Boulevard #302, Los Angel...",www.westchestercollege.edu,"< 2-year, Private for-profit",One but less than two years certificate,City: Large,No,6.0,6.0,80%,NaN,2016-17,NaN,Health Information/Medical Records Technology/...,486141.0,4192500.0
333,Westcliff University,"17877 Von Karman Ave, Suite 400, Irvine, Calif...",www.westcliff.edu,"4-year, Private for-profit",Less than one year certificate|Bachelor's degr...,City: Large,Yes,2608.0,781.0,NaN,NaN,Fall 2013,"$19,907",-,490133.0,4249600.0
334,Xavier College School of Nursing,"1340 North El Dorado Street, Stockton, Califor...",www.xavier-college.com,"< 2-year, Private for-profit",One but less than two years certificate,City: Large,No,81.0,81.0,93%,NaN,2016-17,"$15,553",Licensed Practical/Vocational Nurse Training,481289.0,4211900.0
335,ZMS The Academy,"2228 E Cesar E Chavez Ave, Los Angeles, Califo...",www.zmsacademy.com,"< 2-year, Private for-profit",Less than one year certificate|One but less th...,City: Large,No,125.0,125.0,43%,NaN,2016-17,"$10,963",Barbering/Barber,486248.0,4221700.0

In [171]:
total_ca_col = [ca_pub_col, ca_privnonprofit_col, ca_privforprofit_col]
combined_ca_colleges = pd.concat(total_ca_col)
combined_ca_colleges.describe

<bound method NDFrame.describe of                                                Name  \
0                                  ABC Adult School
1                  ABC Adult School - Cabrillo Lane
2                             Allan Hancock College
3                            American River College
4                           Antelope Valley College
..                                              ...
331             West Coast University-Orange County
332  Westchester College of Nursing & Allied Health
333                            Westcliff University
334                Xavier College School of Nursing
335                                 ZMS The Academy

                                               Address  \
0    12254 Cuesta Drive, Cerritos, California 90703...
1    20122 Cabrillo Lane, Cerritos, California 9070...
2    800 South College Drive, Santa Maria, Californ...
3    4700 College Oak Dr, Sacramento, California 95...
4    3041 West  Ave K, Lancaster, California 93536-...
..                                                 ...
331   1477 S Manchester Ave, Anaheim, California 92802
332  8939 South Sepulveda Boulevard #302, Los Angel...
333  17877 Von Karman Ave, Suite 400, Irvine, Calif...
334  1340 North El Dorado Street, Stockton, Califor...
335  2228 E Cesar E Chavez Ave, Los Angeles, Califo...

                            Website                                   Type  \
0    https://www.abcadultschool.edu                       < 2-year, Public
1                               NaN                       < 2-year, Public
2           www.hancockcollege.edu/                         2-year, Public
3      https://www.arc.losrios.edu/                         2-year, Public
4                       www.avc.edu  4-year, primarily associate's, Public
..                              ...                                    ...
331        westcoastuniversity.edu/             4-year, Private for-profit
332      www.westchestercollege.edu           < 2-year, Private for-profit
333               www.westcliff.edu             4-year, Private for-profit
334          www.xavier-college.com           < 2-year, Private for-profit
335              www.zmsacademy.com           < 2-year, Private for-profit

                                        Awards offered Campus setting  \
0    Less than one year certificate|One but less th...  Suburb: Large
1    Less than one year certificate|One but less th...  Suburb: Large
2    Less than one year certificate|One but less th...  City: Midsize
3    Less than one year certificate|One but less th...  Suburb: Large
4    Less than one year certificate|One but less th...  Suburb: Large
..                                                 ...            ...
331  Bachelor's degree|Master's degree|Post-master'...    City: Large
332            One but less than two years certificate    City: Large
333  Less than one year certificate|Bachelor's degr...    City: Large
334            One but less than two years certificate    City: Large
335  Less than one year certificate|One but less th...    City: Large

    Campus housing  Student population  Undergraduate students  \
0               No                77.0                    77.0
1               No                 NaN                     NaN
2               No             11894.0                 11894.0
3               No             31265.0                 31265.0
4               No             13909.0                 13909.0
..             ...                 ...                     ...
331             No              3976.0                  2802.0
332             No                 6.0                     6.0
333            Yes              2608.0                   781.0
334             No                81.0                    81.0
335             No               125.0                   125.0

    Graduation Rate Transfer-Out Rate Cohort Year * Net Price **  \
0               83%               NaN       2016-17       $6,500
1               NaN               NaN       2016-17          NaN
2               35%                6%     Fall 2016       $6,225
3               25%               12%     Fall 2016       $7,089
4               27%                7%     Fall 2013       $6,234
..              ...               ...           ...          ...
331             72%               NaN     Fall 2013      $33,823
332             80%               NaN       2016-17          NaN
333             NaN               NaN     Fall 2013      $19,907
334             93%               NaN       2016-17      $15,553
335             43%               NaN       2016-17      $10,963

                                       Largest Program    IPEDS ID     OPE ID
0     Accounting Technology/Technician and Bookkeeping    491464.0  4227000.0
1          Medical Insurance Specialist/Medical Biller  49146401.0  4227001.0
2                                                    -    108807.0   111100.0
3                                                    -    109208.0   123200.0
4                                                    -    109350.0   111300.0
..                                                 ...         ...        ...
331                                                  -    458210.0  3698301.0
332  Health Information/Medical Records Technology/...    486141.0  4192500.0
333                                                  -    490133.0  4249600.0
334       Licensed Practical/Vocational Nurse Training    481289.0  4211900.0
335                                   Barbering/Barber    486248.0  4221700.0

[706 rows x 16 columns]>

In [174]:
allocations_for_ca_colleges = allocations_tofloat.merge(combined_ca_colleges, how = 'left', on = 'OPE ID')

In [184]:
allocations_for_ca_colleges

,OPE ID,School,Total Allocation ($),Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($),Name,Address,Website,Type,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year *,Net Price **,Largest Program,IPEDS ID
0,108100.0,Arizona State University,"63,533,137.00","31,766,569.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,332900.0,Pennsylvania State University (The),"54,994,846.00","27,497,423.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,262900.0,"Rutgers, The State University Of New Jersey","54,160,640.00","27,080,320.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,395400.0,University Of Central Florida,"51,071,250.00","25,535,625.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,150600.0,Miami Dade College,"49,074,737.00","24,537,369.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,4110300.0,University Of Management And Technology (The),"2,694.00","1,347.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4932,3110800.0,Bakke Graduate University,"2,662.00","1,331.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4933,188100.0,Ashford University,"1,001.00",501.00,Ashford University,"8620 Spectrum Center Boulevard, San Diego, Cal...",www.ashford.edu,"4-year, Private for-profit",Associate's degree|Bachelor's degree|Master's ...,City: Large,No,32620.0,26914.0,8%,18%,Fall 2013,"$20,415",-,154022.0
4934,4124600.0,Professional Academy Of Cosmetology,873.00,437.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4935,3975300.0,Institute Of Professional Careers,291.00,146.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
# drop NaN values in "Address" column of combined dataset

allocations_for_ca_colleges_dropped = allocations_for_ca_colleges[pd.notnull(allocations_for_ca_colleges['Address'])]

In [188]:
allocations_for_ca_colleges_dropped.columns

Index(['OPE ID', 'School', 'Total Allocation ($)',
       'Minimum Allocation to\nbe Awarded for\nEmergency Financial Aid\nGrants to Students ($)',
       'Name', 'Address', 'Website', 'Type', 'Awards offered',
       'Campus setting', 'Campus housing', 'Student population',
       'Undergraduate students', 'Graduation Rate', 'Transfer-Out Rate',
       'Cohort Year *', 'Net Price **', 'Largest Program', 'IPEDS ID'],
      dtype='object')

In [ ]:
columns_to_keep = 
allocations_for_ca_colleges_dropped_cleaned = allocations_for_ca_colleges_dropped